<a href="https://colab.research.google.com/github/nandansuresh97/practise-/blob/main/stati.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('/content/Students_Performance.csv')
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

In [4]:
gender_count = data['gender'].value_counts()
print("Male count : ", gender_count['male'])
print("Female count : ", gender_count['female'])

Male count :  482
Female count :  518

In [5]:
parent_education = data['parental level of education'].value_counts()
print("Parental level of education : \n")
print(parent_education)

Parental level of education :

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [6]:
sub_columns = ['math score','reading score','writing score']
avg_gender_scores = data.groupby('gender')[sub_columns].mean()
print(avg_gender_scores)

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

In [7]:
avg_test_prep_score = data.groupby('test preparation course')[sub_columns].mean()
print(avg_test_prep_score)

Average score by Test preparation:

                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

In [8]:
sub_columns = ['math score','reading score','writing score']
stdvar_gen_scores = data.groupby('gender')[sub_columns].std()
print(stdvar_gen_scores)

        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225

In [9]:
stdvar_test_prep = data.groupby('test preparation course')[sub_columns].std()
print(stdvar_test_prep)

                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

In [12]:
top25_threshold = data['math score'].quantile(0.75)
top25_students = data[data['math score'] > top25_threshold]
bonus_points = 10
top25_students = top25_students.copy()
top25_students.loc[:, 'bonus_points'] = bonus_points
print(top25_students)

     gender race/ethnicity parental level of education         lunch  \
430  female        group A                some college      standard
431  female        group B           bachelor's degree  free/reduced
432  female        group D           bachelor's degree      standard
433  female        group D                 high school      standard
434  female        group D           bachelor's degree  free/reduced
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score  \
430               completed          78             87             91
431                    none          78             79             76
432                    none          78             82             79
433                    none          78             81             80
434                    none          78             90             93
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

     bonus_points
430            10
431            10
432            10
433            10
434            10
..            ...
995            10
996            10
997            10
998            10
999            10

[231 rows x 9 columns]

In [14]:
#Case Study
from scipy.stats import ttest_rel
from scipy.stats import chi2_contingency
data1 = pd.read_csv('/content/Sales_add.csv')
data1.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [16]:
sales_before = data1['Sales_before_digital_add(in $)']
sales_after = data1['Sales_After_digital_add(in $)']
t_statistic , p_value = ttest_rel(sales_before,sales_after)
print("t-statistic: ", t_statistic)
print("p-value: ",p_value)

t-statistic:  -12.09070525287017
p-value:  6.336667004575778e-11

In [17]:
if p_value < 0.05:
    print("Reject the null hypothesis. There is a significant increase in sales after implementing digital marketing.")
else:
    print("Fail to reject the null hypothesis. There is no significant increase in sales after implementing digital marketing.")

Reject the null hypothesis. There is a significant increase in sales after implementing digital marketing.

In [18]:
table_cont = pd.crosstab(data1['Region'],data1['Manager'])

chi2_stat , p_value, dof , expected = chi2_contingency(table_cont)
print("Chi-square statistic : ", chi2_stat)
print("p-value : ", p_value)

Chi-square statistic :  3.050566893424036
p-value :  0.5493991051158094

In [19]:
if p_value < 0.05:
    print("Reject the null hypothesis. There is a dependency between Region and Manager.")
else:
    print("Fail to reject the null hypothesis. There is no dependency between Region and Manager.")

Fail to reject the null hypothesis. There is no dependency between Region and Manager.